<div class="row page-header">
	<h1>Edit profile for <span class="sing-data"><%= single.Name %></span></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
				'Permissions' is a list of 'colon surrounded' names of application
				features. (e.g. :admin:)
				'Organization' and 'Note' are records (non-functional).
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
	<div>
		Edit user's organization, permissions and notes.
	</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
	<table class="table table-condensed">
		<tbody>
			<tr>
				<td><%= single.Name %> &lt;<%= single.Email %>&gt;</td>
				<td><%= single.Provider %>:<%= single.UserID %></td>
			</tr>
		</tbody>
	</table>
<%= form_for(single, {action: singlePath({ single_id: single.ID }), method: "PUT", errors: errors}) { %>
	<%= partial("singles/form.html") %>
	<a href="<%= singlePath({ single_id: single.ID }) %>" class="btn btn-warning" data-confirm="<%=t("sure")%>"><%=t("cancel")%></a>
<% } %>
</div>
</div>
