<h1>TicketGroups#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= ticketGroupsPath() %>" class="btn btn-info">Back to all TicketGroups</a></li>
  <li><a href="<%= editTicketGroupPath({ ticket_group_id: ticketGroup.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= ticketGroupPath({ ticket_group_id: ticketGroup.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>ID</strong>: <%= ticketGroup.ID %>
</p>
<p>
  <strong>TicketGroupCategoryId</strong>: <%= ticketGroup.TicketGroupCategoryId %>
</p>
<p>
  <strong>Name</strong>: <%= ticketGroup.Name %>
</p>
