<div class="row page-header">
	<h1><%=t("mails")%></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
			List of system mails
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
	<div>
		<%=t("mails")%>
	</div>
</div>

<div class="row">
<p class="btn-group pull-right">
	<a href="<%= newMailPath() %>" class="btn btn-default"><%=t("new_mail")%></a>
</p>
</div>

<div class="row">

<table class="table table-striped table-condensed table-hover">
	<thead>
		<th>Time</th>
		<th>Subject</th>
		<th>To</th>
		<th>Status</th>
		<%= if (user_is_admin) { %><th>&nbsp;</th><% } %>
	</thead>
	<tbody>
		<%= for (mail) in mails { %>
			<tr class="clickable">
				<td><%= timeYYMDHM(mail.CreatedAt) %></td>
				<td><a id="link" href="<%= mailPath({ mail_id: mail.ID })
					%>"><%= mail.Subject %></a></td>
				<td><span data-toggle="tooltip" data-placement="top" title="Bcc: <%=
					mail.Bccs %>"><%= mail.Rcpt %></span></td>
				<td><%= capitalize(mail.Status) %></span></td>
				<%= if (user_is_admin) { %><td class="unclickable">
					<div class="pull-right">
						<a href="<%= singlePath({ single_id: mail.SingleID }) %>" class="btn btn-xs btn-info">owner</a>
						<a href="<%= mailPath({ mail_id: mail.ID }) %>" data-method="DELETE" data-confirm="<%=t("sure")%>" class="btn btn-xs btn-danger"><%=t("delete")%></a>
					</div>
				</td><% } %>
			</tr>
		<% } %>
	</tbody>
</table>

<%= paginate(pager.Page, pager.PerPage, pager.TotalPages) %>

</div>
