<div class="row page-header">
	<h1>New Messanger</h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
You can register your own messanger for notification and alert here.
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
	<div>
		Register your messanger for notification and alert.
	</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">

<%= form_for(messanger, {action: messangersPath(), method: "POST", errors: errors}) { %>
  <%= partial("messangers/form.html") %>
	<button class="btn btn-success" role="submit"><%=t("save")%></button>
	<a href="<%= mePath() %>" class="btn btn-warning" data-confirm="<%=t("sure")%>"><%=t("cancel")%></a>
<% } %>
</div>
</div>
