<div class="row page-header">
	<h1>Messanger <span class="sing-data"><%= messanger.Name %></span></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
</div>

<div class="row">
<p class="btn-group pull-right">
	<a class="btn btn-default" href="<%= messangersPath()
		%>"><i class="fa fa-arrow-left"></i> <%=t("list")%></a>
	<a href="<%= editMessangerPath({ messanger_id: messanger.ID })
	%>" class="btn btn-default"><i class="fa fa-edit"></i> <%=t("edit")%></a>
	<a href="<%= messangerPath({ messanger_id: messanger.ID })
		%>" data-method="DELETE" data-confirm="<%=t("sure")
		%>" class="btn btn-default"><i class="fa fa-trash"></i> <%=t("delete")%></a>
</p>
</div>

<div class="row">

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>Single</th>
			<th>Name</th>
			<th>Level</th>
			<th>Method</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable">
			<td class="unclickable"><a href="<%=
				singlePath({ single_id: messanger.SingleID })
				%>"><%= messanger.Single() %></a></td>
			<td><a id="link" href="<%= messangerPath({ messanger_id: messanger.ID })
				%>"><%= messanger.Name %></a></td>
			<td><%= messanger.Level %></td>
			<td><%= messanger.Method %></td>
			<td><%= messanger.Value %></td>
		</tr>
	</tbody>
</table>

<div class="col-md-12">
	Add Messaging History Here
</div>

</div>
