<h1>TicketUpdates</h1>

<p>
  <a href="<%= newTicketUpdatePath() %>" class="btn btn-primary">Create New TicketUpdate</a>
</p>

<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>TicketId</th>
    <th>EditorId</th>
    <th>EditorType</th>
    <th>CreateDate</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (ticketUpdate) in ticketUpdates { %>
      <tr>
        <td><%= ticketUpdate.ID %></td>
        <td><%= ticketUpdate.TicketId %></td>
        <td><%= ticketUpdate.EditorId %></td>
        <td><%= ticketUpdate.EditorType %></td>
        <td><%= ticketUpdate.CreateDate %></td>
        <td>
          <div class="pull-right">
            <a href="<%= ticketUpdatePath({ ticket_update_id: ticketUpdate.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editTicketUpdatePath({ ticket_update_id: ticketUpdate.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= ticketUpdatePath({ ticket_update_id: ticketUpdate.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
