<h1>TicketUpdates#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= ticketUpdatesPath() %>" class="btn btn-info">Back to all TicketUpdates</a></li>
  <li><a href="<%= editTicketUpdatePath({ ticket_update_id: ticketUpdate.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= ticketUpdatePath({ ticket_update_id: ticketUpdate.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>ID</strong>: <%= ticketUpdate.ID %>
</p>
<p>
  <strong>TicketId</strong>: <%= ticketUpdate.TicketId %>
</p>
<p>
  <strong>EditorId</strong>: <%= ticketUpdate.EditorId %>
</p>
<p>
  <strong>EditorType</strong>: <%= ticketUpdate.EditorType %>
</p>
<p>
  <strong>Entry</strong>: <%= ticketUpdate.Entry %>
</p>
<p>
  <strong>CreateDate</strong>: <%= ticketUpdate.CreateDate %>
</p>
