$nav_height: 40px;
$font_size: 14px;
$font_color: #222;

$color-muted: #999;
$color-primary: #141414;
$color-success: #467864;
$color-info: #3c648c;
$color-warning: #af6437;
$color-danger: #be2d23;
$bg-primary: #141414;
$bg-success: #96c1b0;
$bg-info: #91b0d0;
$bg-warning: #e1b79e;
$bg-danger: #ea9590;

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	font-size: $font-size;
	vertical-align: middle !important;
}

.icon96 {
	width: 96px; height: 96px;
	&.round { border-radius: 48px; }
	&.border { border: 1px solid black; }
}
.icon32 {
	width: 32px; height: 32px;
	&.round { border-radius: 16px; }
	&.border { border: 1px solid black; }
}
.icon24 {
	width: 24px; height: 24px;
	&.round { border-radius: 12px; }
	&.border { border: 1px solid black; }
}
.avatar {
	float: left;
}

.sing-data {
	text-shadow: 1px 1px 2px #888;
}
.ticket-item {
	&.ticket-status {
		&-Closed, &-Closed a {
			color: $color-muted;
		}
	}
	&.ticket-new {
		.update-date {
			font-weight: bold;
		}
	}
}
.ticket-update {
	&.well {
		margin-bottom: 10px;
		padding: 5px;
	}
	&.by-user > pre {
	}
	&.by-service > pre {
	}
	& > pre {
		white-space: pre-wrap;
		margin-bottom: 5px;
	}
}

div > p:last-child {
	margin-bottom: 0px;
}


@media screen and (max-width: 754px) {
	.avatar { display: none; }
	.navbar-brand.navbar-logo {
		margin-right: -15px;
	}
}
.navbar {
	.navbar-brand .icon32 {
		margin: ($nav_height - 32px) / 2 - 10px;
	}
	.icon32 {
		margin: ($nav_height - 32px) / 2;
	}
}
.navbar-default {
	.navbar-toggle {
		border: 0;
	}
}

.dropdown-menu {
	padding: 0 !important;
	& > li > span,
	& > li > a {
		display: block;
		padding: 3px 20px 3px 10px !important;
		white-space: nowrap;
		i.fa {
			padding: 5px 5px 5px 0;
			text-align: center;
			width: 2em;
		}
	}
	.divider {
		margin: 0 !important;
	}
}

.page-header {
	.page-help {
		float: right;
	}
}
.popover {
	z-index: 2000 !important;
}

.overlay-flash {
	left: 50%;
	top: ($nav_height + 10px);
	opacity: 0.95;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.jumbotron > h1 > img { width: ($font_size * 4); }
