$nav_height: 50px;
$font_size: 14px;
$font_color: #222;

body {
	padding-top: ($nav_height + 10px);
	font-size: $font-size;
}
h1, .h1 { font-size: ($font_size * 1.6) !important; }
h2, .h2 { font-size: ($font_size * 1.4) !important; }
h3, .h3 { font-size: ($font_size * 1.2) !important; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	font-size: $font-size;
	line-height: 1.2;
	padding: ($font-size / 3);
	vertical-align: middle;
}


.page-head {
	padding: 4px 0 8px;
	border-bottom: 1px solid #ddd;
	margin-bottom: $font_size;
	& > h1 {
		margin-top: 0;
	}
	& > div {
	}
}

.underline { border-bottom: 1px solid ($font_color + #999); }
.text-right { text-align: right; }


.icon32 {
	width: 32px; height: 32px;
	&.round { border-radius: 16px; }
	&.border { border: 1px solid black; }
}
.icon24 {
	width: 24px; height: 24px;
	&.round { border-radius: 12px; }
	&.border { border: 1px solid black; }
}
.avatar {
	float: left;
}
@media screen and (max-width: 754px) {
	.avatar { display: none; }
	.navbar-brand.navbar-logo {
		margin-right: -15px;
	}
}

.overlay-flash {
	left: 50%;
	opacity: 0.95;
	position: fixed;
	width: 100%;
	z-index: 999;
	.alert {
		box-shadow: 2px 2px 4px;
	}
}


// * customize bootstrap
.navbar {
	.navbar-brand .icon32 {
		margin: ($nav_height - 32px) / 2 - 15px;
	}
	.dropdown .icon32 {
		margin-top: ($nav_height - 32px -1) / 2 - 15px;
		margin-bottom: ($nav_height - 32px -1) / 2 - 15px;
	}
	.icon32 {
		margin: ($nav_height - 32px) / 2;
	}
}
.navbar-default {
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
		background-color: #f1f1f1;
	}
	.navbar-toggle {
		border: 0;
	}
}


.dropdown-menu {
	padding: 0;
	& > li > span,
	& > li > a {
		color: #aaa;
		display: block;
		padding: 7px 20px 7px 10px;
		white-space: nowrap;
		i.fa {
			padding: 5px 5px 5px 0;
			text-align: center;
			width: 2em;
		}
	}
	.divider {
		margin: 0;
	}
}

.btn {
	&.btn-w8 {
		width: 8.2em;
	}
	&.btn-w6 {
		width: 6.2em;
	}
	&.btn-w4 {
		width: 4.2em;
	}
	&.btn-w2 {
		width: 2.2em;
	}
}
