$nav-height: 40px;
$font-size: 14px;

$color-default: #222;
$bg-default: #f8f8f8;

$color-muted: #999;
$color-primary: #141414;
$color-success: #467864;
$color-info: #3c648c;
$color-warning: #af6437;
$color-danger: #be2d23;
$bg-primary: #141414;
$bg-success: #96c1b0;
$bg-info: #91b0d0;
$bg-warning: #e1b79e;
$bg-danger: #ea9590;

html, body, .container {
	height: 100%;
}
.container {
	display: table;
	width: 100%;
	margin-top: -60px;
	padding: 60px 0 0 0;
	box-sizing: border-box;
}
.page-tailer {
	position: relative;
	display: flex;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 60px;
	padding-top: 5px;
	background: darken($bg-default, 6%);
	border: 1px solid darken($bg-default, 15%);
	border-width: 1px 0 0 0;
	font-size: 0.9em;
	color: lighten($color-default, 40%);
	a {
		color: lighten($color-default, 40%);
	}
}

.row.full {
	height: 100%;
	display: table-row;
}
.row .no-float {
	display: table-cell;
	float: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	font-size: $font-size;
	vertical-align: middle !important;
}
.table-hover {
	& > tbody > tr {
		cursor: pointer;
	}
	& a:hover {
		text-decoration: none;
	}
}

//// my widgets

.icon96 {
	width: 96px; height: 96px;
	&.round { border-radius: 48px; }
	&.border { border: 1px solid #000000; }
}
.icon32 {
	width: 32px; height: 32px;
	&.round { border-radius: 16px; }
	&.border { border: 1px solid #000000; }
}
.icon24 {
	width: 24px; height: 24px;
	&.round { border-radius: 12px; }
	&.border { border: 1px solid #000000; }
}
.avatar {
	float: left;
}

.sing-data {
	text-shadow: 1px 1px 2px #888;
}
.ticket-item {
	&.ticket-status {
		&-Closed, &-Closed a {
			color: $color-muted;
		}
	}
	&.ticket-new {
		.update-date {
			font-weight: bold;
		}
	}
}
.ticket-update {
	&.well {
		margin-bottom: 10px;
		padding: 5px;
		background-color: transparent;
		border: 0 solid transparent;
		box-shadow: 0 0 0 transparent;
	}
	&.by-user > pre {
		background-color: darken(rgba(128,128,128, 0.2), 5%);
	}
	&.by-service > pre {
	}
	& > pre {
		background-color: lighten(rgba(200,200,200, 0.2), 5%);
		white-space: pre-wrap;
		word-break: normal;
		margin-bottom: 5px;
		padding: 5px 10px;
	}
}
.pre-wrap {
	white-space: pre-wrap;
	word-break: normal;
}
.admode {
	border: 1px dashed $color-danger;
	border-radius: 5px;
}

.progress-item {
	background-color: lighten(rgba(255,255,255, 0.1), 5%);
	border: 1px solid darken(rgba(100,100,100, 0.5), 70%);
	border-bottom-width: 0;
	border-radius: 10px 10px 0 0;
	border-left-width: 5px;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.15);
	margin-bottom: 0px;
	padding: 4px 8px;
	color: inherit;
	& a {
		color: inherit;
	}
	& > div:last-child {
		display: none;
	}
	&:last-of-type {
		border-bottom-width: 1px;
		border-radius: 10px 10px 10px 10px;
		& > div:last-child {
			display: inherit;
		}
	}
}

.not-released {
	color: lighten($color-default, 40%);
}

.page-tips {
	margin-top: 100px;
	p {
		padding-left: 60px;
		span {
			margin-left: -60px;
			width: 55px;
			float: left;
		}
	}
}

.documentations {
	.category-box {
		&:nth-child(odd) {
			clear: both;
		}
		margin-bottom: 20px;
		div {
			border-top: 1px solid #999;
			background: linear-gradient(to bottom, #ddd 0, transparent 10px);
		}
		h2, h4 {
			margin-top: 12px;
		}
		ul {
			padding-left: 25px;
			list-style: square;
		}
	}
}

.document {
	margin-bottom: 50px;
	margin: 0 auto 50px;
	max-width: 760px;
	img {
		max-width: 90%;
		width: auto;
		margin: 5px auto;
		display: block;
		border: 1px solid black;
		box-shadow: 3px 3px 6px rgba(100, 100, 100, 0.5);
	}
}


//// decorations

.meta-gray {
	font-size: 0.9em;
	background: rgba(128,128,128, 0.1);
	padding: 0 4px;
	border-radius: 4px;
}


//// customize bootstrap

@media screen and (max-width: 754px) {
	.avatar { display: none; }
	.navbar-brand.navbar-logo {
		margin-right: -15px;
	}
}

.panel-body > *:last-child {
	margin-bottom: 0px;
}
.pagination > li > a {
	width: 2.5em;
}

.navbar {
	.navbar-brand .icon32 {
		margin: ($nav_height - 32px) / 2 - 10px;
	}
	.icon32 {
		margin: ($nav_height - 32px) / 2;
	}
}
.navbar-default {
	background-color: #000000 !important;
	border-color: transparent !important;
	box-shadow: 0 2px 2px rgba(0,0,0, 0.5);
	.navbar-toggle {
		border: 0;
	}
}

.dropdown-menu {
	padding: 0 !important;
	& > li > span,
	& > li > a {
		display: block;
		padding: 3px 20px 3px 10px !important;
		white-space: nowrap;
		i.fa {
			padding: 5px 5px 5px 0;
			text-align: center;
			width: 2em;
		}
	}
	.divider {
		margin: 0 !important;
	}
}

.page-header {
	.page-help {
		float: right;
	}
}
.popover {
	z-index: 2000 !important;
}

.overlay-flash {
	left: 50%;
	top: ($nav_height + 10px);
	opacity: 0.95;
	position: fixed;
	width: 100%;
	z-index: 999;
	.alert {
		padding: 10px 15px;
		display: inline-block;
		position: absolute;
		right: 0;
		box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.5);
		.close {
			margin-left: 10px;
		}
	}
}

.jumbotron > h1 > img { width: ($font-size * 4); }

@media print {
	.document {
		margin-bottom: 50px;
		margin: 0 auto 50px;
		width: 100% !important;
		img {
			max-width: 90% !important;
			width: auto;
			margin: 5px auto;
			display: block !important;
			border: 1px solid black;
			box-shadow: 3px 3px 6px rgba(100, 100, 100, 0.5);
		}
	}
	.document img,
	img {
		page-break-before: auto !important;
		page-break-after: auto !important;
		page-break-inside: avoid !important;
	}
}
