$nav_height: 40px;
$font_size: 14px;
$font_color: #222;

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	font-size: $font-size;
	vertical-align: middle !important;
}

.icon96 {
	width: 96px; height: 96px;
	&.round { border-radius: 48px; }
	&.border { border: 1px solid black; }
}
.icon32 {
	width: 32px; height: 32px;
	&.round { border-radius: 16px; }
	&.border { border: 1px solid black; }
}
.icon24 {
	width: 24px; height: 24px;
	&.round { border-radius: 12px; }
	&.border { border: 1px solid black; }
}
.avatar {
	float: left;
}

.sing-data {
	color: #f0f0f0;
}


@media screen and (max-width: 754px) {
	.avatar { display: none; }
	.navbar-brand.navbar-logo {
		margin-right: -15px;
	}
}
.navbar {
	.navbar-brand .icon32 {
		margin: ($nav_height - 32px) / 2 - 10px;
	}
	.icon32 {
		margin: ($nav_height - 32px) / 2;
	}
}
.navbar-default {
	.navbar-toggle {
		border: 0;
	}
}

.dropdown-menu {
	padding: 0 !important;
	& > li > span,
	& > li > a {
		color: #aaa;
		display: block;
		padding: 3px 20px 3px 10px !important;
		white-space: nowrap;
		i.fa {
			padding: 5px 5px 5px 0;
			text-align: center;
			width: 2em;
		}
	}
	.divider {
		margin: 0 !important;
	}
}

.page-header {
	.page-help {
		float: right;
	}
}

.overlay-flash {
	left: 50%;
	top: ($nav_height + 10px);
	opacity: 0.95;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.jumbotron > h1 > img { width: ($font_size * 4); }
