<h1>TicketStatuses</h1>

<p>
  <a href="<%= newTicketStatusePath() %>" class="btn btn-primary">Create New TicketStatuse</a>
</p>

<table class="table table-striped table-condensed">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (ticketStatuse) in ticketStatuses { %>
      <tr>
        <td><%= ticketStatuse.ID %></td>
        <td><%= ticketStatuse.Name %></td>
        <td>
          <div class="pull-right">
            <a href="<%= ticketStatusePath({ ticket_status_id: ticketStatuse.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editTicketStatusePath({ ticket_status_id: ticketStatuse.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= ticketStatusePath({ ticket_status_id: ticketStatuse.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
