<h1>TicketStatuses#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= ticketStatusesPath() %>" class="btn btn-info">Back to all TicketStatuses</a></li>
  <li><a href="<%= editTicketStatusePath({ ticket_status_id: ticketStatuse.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= ticketStatusePath({ ticket_status_id: ticketStatuse.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>ID</strong>: <%= ticketStatuse.ID %>
</p>
<p>
  <strong>Name</strong>: <%= ticketStatuse.Name %>
</p>
