<html>
<head>
	<meta charset="utf-8">
	<title>Singlayer, a Hardened Layer Service</title>
	<link rel="stylesheet" href="/assets/application.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/assets/themes/<%= theme %>/theme.css" type="text/css" media="all" />
	<link rel="shortcut icon" href="/assets/images/favicon.png">
	<meta name="csrf-param" content="authenticity_token" />
	<meta name="csrf-token" content="<%= authenticity_token %>" />
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand navbar-logo" href="/">
					<img class="icon32" alt="Singlayer"
						src="/assets/images/hardened-circle.png">
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Singlayer</a>
			</div>
			<div class="collapse navbar-collapse" id="main-navbar-collapse">
				<%= if (user_id) { %>
				<ul class="nav navbar-nav">
					<li><a href="/s" class="navbar-link">Landscape</a></li>
					<li><a href="/tickets" class="navbar-link">Ticket</a></li>
					<li><a href="/l" class="navbar-link">Link</a></li>
					<%= if (user_is_admin) { %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="<%= singlesPath() %>"><i aria-hidden="true" class="fa fa-address-card"></i> Singles</a></li>
							<li><a href="<%= usersPath() %>"><i aria-hidden="true" class="fa fa-users"></i> Users</a></li>
							<li><a href="<%= accountsPath() %>"><i aria-hidden="true" class="fa fa-building"></i> Accounts</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="<%= ticketsMetaNPath() %>"><i aria-hidden="true" class="fa fa-ticket"></i> Meta:Tickets</a></li>
						</ul>
					</li>
					<% } %>
				</ul>
				<% } %>
				<ul class="nav navbar-nav navbar-right">
					<%= if (user_id) { %>
					<img class="round border icon32 avatar" src="<%= user_icon %>">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user_name %> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><span><i aria-hidden="true" class="fa fa-id-card"></i> <%= user_name %></span></li>
							<li><span><i aria-hidden="true" class="fa"></i> <%= user_mail %></span></li>
							<% if (user_is_admin) { %>
							<li><span><i aria-hidden="true" class="fa fa-star-o"></i> Administrator</span></li>
							<% } %>
							<li role="separator" class="divider"></li>
							<li><a href="<%= mePath() %>"><i aria-hidden="true" class="fa fa-address-card"></i> Me</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout"><i aria-hidden="true" class="fa fa-sign-out"></i> Logout</a></li>
						</ul>
					</li>
<%= partial("actor_selector.html") %>
					<% } else { %>
					<li><a href="/login" class="navbar-link">Login</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
<%= partial("flash.html") %>

<%= yield %>
	</div>

	<script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
