<div class="row spacer tx">
	<h1 class="text-center">Become a Singler then get...</h1>
</div>

<div class="row text-center">
	<div class="col-md-4 tx not-released">
		<div class="well">
		<div class="col-md-12 txxx"><i class="fa fa-photo"></i></div>
		<h1>Landscape</h1>
		Watch all my systems in a<br>
		<strong>SINGLE FRAME</strong><br>without fence of accounts.
		</div>
	</div>
	<div class="col-md-4 tx not-released">
		<div class="well">
		<div class="col-md-12 txxx"><i class="fa fa-ticket"></i></div>
		<h1>Ticket</h1>
		Track my tickets and get<br>
		<strong>MOBILE NOTIFICATION</strong><br>with my favorit app.
		</div>
	</div>
	<div class="col-md-4 tx">
		<div class="well">
		<div class="col-md-12 txxx"><i class="fa fa-link"></i></div>
		<h1>Direct Link</h1>
		<strong>ORDER AND TRACK</strong><br>
		direct links for accounts<br>in a single place.
		</div>
	</div>
</div>

<style>
.spacer {
	padding-top: 50px;
	padding-bottom: 20px;
	min-height: 120px;
}
.txxx {
	font-size: 150px;
}
.tx {
	font-size: 20px;
}
.tx h1 {
	font-size: 32px;
	font-weight: bold;
}
</style>
