<div class="row">
	<br/><br/>
	<br/><br/>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Login with...</h3>
			</div>
			<div class="panel-body text-center">
				<a href="/auth/gplus" class="btn btn-lg btn-primary">
					<i class="fa fa-google-plus-official"></i> &nbsp; Google
				</a>
				<a href="/auth/github" class="btn btn-lg btn-primary">
					<i class="fa fa-github-alt"></i> &nbsp; Github
				</a>
			</div>
		</div>

		<div class="jumbotron">
			<h1><img src="/assets/images/hardened-circle.png"> Single Layer</h1>
			<p>Single login with your existing social account,</p>
			<p>Handle multiple SoftLayer accounts from single place.</p>
			<p><a class="btn btn-primary btn-lg">Learn more</a></p>
		</div>
	</div>
</div>
