<div class="row page-head">
	<h1><%= t("Preference") %></h1>
	<div>
		Manage your service preferences here.
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h2 class="underline">My Users</h2>
		<p><a href="<%= newUserPath() %>"
			class="btn btn-xs btn-w8 btn-primary">New User</a></p>
		<table class="table table-striped">
			<thead>
				<tr text-align="left">
					<th>Username</th>
					<th>Tickets</th>
					<th>VSI/BM</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<%= for (user) in users { %>
				<tr>
					<td><%= user.Username %></td>
					<td><%= user.OpenTicketCount %>/<%= user.TicketCount %></td>
					<td><%= user.VirtualGuestCount %>/<%= user.HardwareCount %></td>
					<td class="text-right">
						<div class="btn-group">
						<a href="<%= userPath({ user_id: user.ID }) %>"
							class="btn btn-xs btn-info">Vi</i></a>
						<a href="<%= editUserPath({ user_id: user.ID }) %>"
							class="btn btn-xs btn-warning">Ed</i></a>
						<a href="<%= userPath({ user_id: user.ID }) %>"
							data-method="DELETE" data-confirm="Are you sure?"
							class="btn btn-xs btn-danger">De</i></a>
						</div>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

	<div class="col-md-6">
		<h2 class="underline">My Hooks</h2>
		<p>Configure your notification hooks</p>
		<table class="table table-striped">
			<thead>
				<tr text-align="left">
					<th>METHOD</th>
					<th>PATH</th>
				</tr>
			</thead>
			<tbody>
				<%= for (r) in routes { %>
				<tr>
					<td><%= r.PathName %></td>
					<td><code><%= r.Path %></code></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
