<div class="row page-head">
	<h1><%= t("Preference") %></h1>
	<div>
		Manage your service preferences here.
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h2 class="underline">My Users</h2>
		<p>Link your users</p>
	</div>

	<div class="col-md-6">
		<h2 class="underline">My Hooks</h2>
		<p>Configure your notification hooks</p>
		<table class="table table-striped">
			<thead>
				<tr text-align="left">
					<th>METHOD</th>
					<th>PATH</th>
				</tr>
			</thead>
			<tbody>
				<%= for (r) in routes { %>
				<tr>
					<td><%= r.PathName %></td>
					<td><code><%= r.Path %></code></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
