<div class="row page-header">
	<h1><%= t("Preference") %></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
			You can link new softlayer users or make a alert configuration here.
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
	<div>
		Manage your service preferences here.
	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<h2 class="underline">My Users</h2>
		<p><a href="<%= newUserPath() %>"
			class="btn btn-xs btn-primary">New User</a></p>
		<table class="table table-striped table-condensed">
			<thead>
				<tr text-align="left">
					<th>Username</th>
					<th>Tickets</th>
					<th>VSI/BM</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<%= for (user) in users { %>
				<tr>
					<td><span data-toggle="tooltip" data-placement="right" title="<%= user.AccountNick() %>"><%= user.Username %></span></td>
					<td><%= user.OpenTicketCount %>/<%= user.TicketCount %></td>
					<td><%= user.VirtualGuestCount %>/<%= user.HardwareCount %></td>
					<td class="text-right">
						<a href="<%= accountPath({ account_id: user.AccountId }) %>"
							class="btn btn-xs btn-info">Account</i></a>
						<div class="btn-group">
						<a href="<%= userPath({ user_id: user.ID }) %>"
							class="btn btn-xs btn-info">Vi</i></a>
						<a href="<%= editUserPath({ user_id: user.ID }) %>"
							class="btn btn-xs btn-warning">Ed</i></a>
						<a href="<%= userPath({ user_id: user.ID }) %>"
							data-method="DELETE" data-confirm="Are you sure?"
							class="btn btn-xs btn-danger">De</i></a>
						</div>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

	<div class="col-md-5">
		<h2 class="underline">My Hooks</h2>
		<p>Configure your notification hooks</p>
		<table class="table table-striped table-condensed">
			<thead>
				<tr text-align="left">
					<th>Name</th>
					<th>Method</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<%= for (h) in hooks { %>
				<tr>
					<td><%= h.Name %></td>
					<td><%= h.Method %></td>
					<td><%= h.Value %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
