export GPLUS_KEY='8...'
export GPLUS_SECRET='c...'
export GITHUB_KEY='e...'
export GITHUB_SECRET='c...'
export FACEBOOK_KEY='1...'
export FACEBOOK_SECRET='b...'

export MG_API_KEY='key-7...'
export MG_DOMAIN='mg...'
export MG_URL='https://api.mailgun.net/v3'
export MAIL_SENDER='Robot <robot@example.com>'

export SESSION_SECRET='F...'
export GO_ENV='development'
export USE_TLS='no'
export HOST='http://example.com:3000'
export PORT='3000'

# vim: set syntax=sh nowrap:
