<h1>Tickets</h1>

<p>
  <a href="<%= newTicketPath() %>" class="btn btn-primary">Create New Ticket</a>
</p>

<table class="table table-striped table-condensed">
  <thead>
    <th>ID</th>
    <th>AccountId</th>
    <th>AssignedUserId</th>
    <th>SubjectId</th>
    <th>GroupId</th>
    <th>StatusId</th>
    <th>Title</th>
    <th>CreateDate</th>
    <th>LastEditDate</th>
    <th>LastEditType</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (ticket) in tickets { %>
      <tr>
        <td><%= ticket.ID %></td>
        <td><%= ticket.AccountId %></td>
        <td><%= ticket.AssignedUserId %></td>
        <td><%= ticket.SubjectId %></td>
        <td><%= ticket.GroupId %></td>
        <td><%= ticket.StatusId %></td>
        <td><%= ticket.Title %></td>
        <td><%= ticket.CreateDate %></td>
        <td><%= ticket.LastEditDate %></td>
        <td><%= ticket.LastEditType %></td>
        <td>
          <div class="pull-right">
            <a href="<%= ticketPath({ ticket_id: ticket.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editTicketPath({ ticket_id: ticket.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= ticketPath({ ticket_id: ticket.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
