<div class="row page-header">
	<h1>Tickets for <span class="sing-data"><%= actor %></span></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
This page lists your tickets in two mode.
In the multi-mode, when the actor is set as 'All', all assigned tickets from
all registered users are shown. (tickets owned by you)
In the single-mode, when the actor is set as specific user, all tickets from
the user's account are shown. (tickets assiciated to the user)
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
		<i class="fa fa-exclamation-circle text-danger"
			data-toggle="tooltip" data-placement="left"
			title="This page supports 'Actor mode'.
			Please check your current actor."></i>
	</div>
	<div>
		Registered Users
	</div>
</div>

<div class="row">

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Assignee</th>
			<th>Status</th>
			<th>Title</th>
			<th>Created</th>
			<th>LastEdit</th>
			<%= if (user_is_admin) { %><th>&nbsp;</th><% } %>
		</tr>
	</thead>
	<tbody>
		<%= for (ticket) in tickets { %><tr class="ticket-status-<%=
			status(ticket.StatusId) %> <%= ticketTag(ticket)
			%>">
			<td class="ticket-owner"><span data-toggle="tooltip" data-placement="top"
					title="Account:<%= ticket.AccountId %>"
					><%= user(ticket.AssignedUserId) %></span></td>
			<td class="ticket-status"><%= status(ticket.StatusId) %></td>
			<td class="ticket-title"><span data-toggle="tooltip" data-placement="top"
					title="<%= ticket.Title %> (<%=
					group(ticket.GroupId) %> / <%=
					subject(ticket.SubjectId) %>)"><a
					class="hl-shorten"
					href="<%= ticketPath({ ticket_id: ticket.ID }) %>"
					><%= trimSubject(ticket.Title, ticket.SubjectId) %></a></span></td>
			<td class="create-date"><span data-toggle="tooltip" title="<%=
					ticket.CreateDate %>" data-placement="top"><%=
					timeYYMD(ticket.CreateDate) %></td>
			<td class="update-date"><span data-toggle="tooltip" title="<%=
					ticket.LastEditDate %> by <%=
					ticket.LastEditType %>" data-placement="top"><%=
					iconize(ticket.LastEditType) %> <%=
					timeYYMDHM(ticket.LastEditDate) %></td>
			<!-- sync time: <%= timeYYMDHM(ticket.LastSync) %> -->
			<%= if (user_is_admin) { %><td>
				<div class="pull-right">
					<a href="<%= editTicketPath({ ticket_id: ticket.ID }) %>" class="btn btn-xs btn-warning">Ed</a>
					<a href="<%= ticketPath({ ticket_id: ticket.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-xs btn-danger">De</a>
				</div>
			</td><% } %>
		</tr><% } %>
	</tbody>
</table>

<%= paginate(pager.Page, pager.PerPage, pager.TotalPages) %>

</div>
