<div class="row page-header">
	<h1><span class="sing-data"><%= ticket.Title %></span></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
			This page shown detail conversations of the ticket in
			new-update-first manner.
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
</div>

<div class="row">

<%= if (user_is_admin) { %>
<ul class="list-unstyled list-inline">
	<li><a href="<%= ticketsPath() %>" class="btn btn-info">Back to List</a></li>
	<li><a href="<%= editTicketPath({ ticket_id: ticket.ID })%>" class="btn btn-warning">Edit</a></li>
</ul>
<% } %>

<table class="table table-striped">
	<thead>
		<th>ID</th>
		<th>AccountId</th>
		<th>Assignee</th>
		<th>Subject</th>
		<th>Group</th>
		<th>Status</th>
		<th>Created</th>
		<th>Last Edited</th>
	</thead>
	<tbody>
		<tr>
			<td><%= ticket.ID %></td>
			<td><%= ticket.AccountId %></td>
			<td><%= user(ticket.AssignedUserId) %></td>
			<td><%= subject(ticket.SubjectId) %></td>
			<td><%= group(ticket.GroupId) %></td>
			<td><%= status(ticket.StatusId) %></td>
			<td><span data-toggle="tooltip" data-placement="top" title="<%=
					ticket.CreateDate %>"><%=
					timeYYMD(ticket.CreateDate) %></td>
			<td><span data-toggle="tooltip" data-placement="top" title="<%=
					ticket.LastEditDate %> by <%= ticket.LastEditType %>"><%=
					iconize(ticket.LastEditType) %> <%=
					timeYYMDHM(ticket.LastEditDate) %></td>
		</tr>
	</tbody>
</table>


<div class="row" id="ticket-updates">
<%= for (update) in updates { %>
	<div id="update-<%= update.ID %>" class="ticket-update well col-md-9 <%= if (update.EditorType == "USER") { %>by-user col-md-offset-2<% } else { %>by-service col-md-offset-1<% } %>">
		<pre><%= update.Entry %></pre>
		<div class="ticket-update-footer <%= if (update.EditorType == "USER") { %>text-right<% } else { %>text-left<% } %>">
			<span><%= iconize(update.EditorType) %></span>
			<span><%= user(update.EditorId) %></span>,
			<span><%= timeYYMDHM(update.CreateDate) %></span>
			<span><a href="https://translate.google.com/#en/ko/<%= update.Entry
				%>" target="trans"><i class="fa fa-language"></i></a></span>
		</div>
	</div>
<% } %>
</div>

<div class="page-tips">
<%= if (user_is_admin) { %>
<div class="col-md-8 col-md-offset-2"><div class="panel panel-danger">
	<div class="panel-heading"><h3 class="panel-title">Admin Notes</h3></div>
	<div class="panel-body">
		<p><span class="label label-warning">TODO</span>
		Add direct link summary for direct link manager or all users.</p>
		<p><span class="label label-warning">TODO</span>
		Add user list for administrator.</p>
		<p><span class="label label-warning">TODO</span>
		Add instance summary, ticket summary,...</p>
		<p><span class="label label-warning">TODO</span>
		Auto cleaning of all related items from this page.</p>
	</div>
</div></div>
<% } %>
<div class="col-md-8 col-md-offset-2"><div class="panel panel-info">
	<div class="panel-body">
		<p><span class="label label-info">Tips</span>
		Recent updates are synced before displayed if you are in single-mode.</p>
		<p><span class="label label-info">Tips</span>
		Google translator will be open when you click on
		<i class="fa fa-language"></i> icon.</p>
	</div>
</div></div>
</div>

</div>

