<%= f.InputTag("Id") %>
<%= f.InputTag("AccountId") %>
<%= f.InputTag("ParentId") %>
<%= f.InputTag("Username") %>
<%= f.InputTag("ApiKey") %>
<%= f.InputTag("CompanyName") %>
<%= f.InputTag("Email") %>
<%= f.InputTag("FirstName") %>
<%= f.InputTag("LastName") %>
<%= f.InputTag("OpenTicketCount") %>
<%= f.InputTag("TicketCount") %>
<%= f.InputTag("HardwareCount") %>
<%= f.InputTag("VirtualGuestCount") %>
<%= f.TextArea("Permissions", {rows: 10}) %>
<%= f.InputTag("SingleId") %>
<%= f.InputTag("LastBatch") %>
<button class="btn btn-success" role="submit">Save</button>
