<div class="row page-head">
	<h1>Users</h1>
	<div>
		Registered Users
	</div>
</div>

<div class="row">
<div class="col-md-12">

<p>
  <a href="<%= newUserPath() %>" class="btn btn-primary">Create New User</a>
</p>

<table class="table table-striped">
  <thead>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>CompanyName</th>
    <th>Tickets</th>
    <th>VSI/BM</th>
    <th>Owner</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (user) in users { %>
    <tr>
      <td><%= user.Username %></td>
      <td><%= user.FirstName %> <%= user.LastName %></td>
      <td><%= user.Email %></td>
      <td><%= user.CompanyName %></td>
      <td><%= user.OpenTicketCount %>/<%= user.TicketCount %></td>
      <td><%= user.VirtualGuestCount %>/<%= user.HardwareCount %></td>
      <td><a href="<%= singlePath({single_id:user.SingleID}) %>">owner</a></td>
      <td>
        <div class="pull-right">
          <a href="<%= userPath({ user_id: user.ID }) %>" class="btn btn-info">View</a>
          <a href="<%= editUserPath({ user_id: user.ID }) %>" class="btn btn-warning">Edit</a>
          <a href="<%= userPath({ user_id: user.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Delete</a>
        </div>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

</div>
</div>
