<div class="row page-header">
	<h1>Register a New User</h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
			Enter a valid Bluemix(SoftLayer) ID and API Key to register new user
			for your single. If you submit this form, I will check the credential
			and register this user as one of your Bluemix user.
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
	<div>
		Enter valid Bluemix ID and API Key and Press "Save" button.
	</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<%= form_for(user, {action: usersPath(), method: "POST", errors: errors}) { %>
  <%= partial("users/form.html") %>
  <a href="<%= usersPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
</div>
</div>
