<h1>Users#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= usersPath() %>" class="btn btn-info">Back to all Users</a></li>
  <li><a href="<%= editUserPath({ user_id: user.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= userPath({ user_id: user.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>ID</strong>: <%= user.ID %>
</p>
<p>
  <strong>AccountId</strong>: <%= user.AccountId %>
</p>
<p>
  <strong>ParentId</strong>: <%= user.ParentId %>
</p>
<p>
  <strong>Username</strong>: <%= user.Username %>
</p>
<p>
  <strong>APIKey</strong>: <%= user.APIKey %>
</p>
<p>
  <strong>CompanyName</strong>: <%= user.CompanyName %>
</p>
<p>
  <strong>Email</strong>: <%= user.Email %>
</p>
<p>
  <strong>FirstName</strong>: <%= user.FirstName %>
</p>
<p>
  <strong>LastName</strong>: <%= user.LastName %>
</p>
<p>
  <strong>OpenTicketCount</strong>: <%= user.OpenTicketCount %>
</p>
<p>
  <strong>TicketCount</strong>: <%= user.TicketCount %>
</p>
<p>
  <strong>HardwareCount</strong>: <%= user.HardwareCount %>
</p>
<p>
  <strong>VirtualGuestCount</strong>: <%= user.VirtualGuestCount %>
</p>
<p>
  <strong>Permissions</strong>: <%= user.Permissions %>
</p>
<p>
  <strong>SingleID</strong>: <%= user.SingleID %>
</p>
<p>
  <strong>LastBatch</strong>: <%= user.LastBatch %>
</p>
