<div class="row page-header">
	<h1><%=t("user")%> <span class="sing-data"><%= user.Username %></span></h1>
</div>

<div class="row">
<p class="btn-group pull-right">
	<%= if (user_is_admin) { %>
	<a class="btn btn-default" href="<%= usersPath()
		%>"><i class="fa fa-arrow-left"></i> <%=t("list")%></a>
	<% } else { %>
	<a class="btn btn-default" href="<%= mePath()
		%>"><i class="fa fa-arrow-left"></i> <%=t("me")%></a>
	<% } %>
	<a href="<%= editUserPath({ user_id: user.ID })
	%>" class="btn btn-default"><i class="fa fa-edit"></i> <%=t("edit")%></a>
	<a href="<%= userPath({ user_id: user.ID })
		%>" data-method="DELETE" data-confirm="<%=t("sure")
		%>" class="btn btn-default"><i class="fa fa-trash"></i> <%=t("delete")%></a>
</p>
</div>

<div class="row">
<div class="col-md-6">
	<table class="table table-striped">
		<tbody>
			<tr><td><%=t("username")%></td><td><%= user.Username %></td></tr>
			<tr><td>ID</td><td><%= user.ID %></td></tr>
			<tr><td>Parent ID</td><td><%= user.ParentId %></td></tr>
			<tr><td><%=t("account")%></td><td><%= user.Account()
					%> (<%= user.AccountId %>)</td></tr>
			<tr><td><%=t("company_name")%></td><td><%= user.CompanyName %></td></tr>
			<tr><td><%=t("contact")%></td><td><%= user.Contact() %></td></tr>
			<%= if (user_is_admin) { %>
			<tr class="admin-field"><td><%=t("single")%></td><td><%=
					user.Single() %></td></tr>
			<tr class="admin-field"><td><%=t("last_batch")%></td><td><%=
					user.LastBatch %></td></tr>
			<% } %>
		</tbody>
	</table>
</div>

<div class="col-md-6">
	<table class="table table-striped">
		<tbody>
			<tr><td><%=t("tickets")%></td><td><%=
				user.TicketCount
				%>, Synced: <%= user.CountTickets() %> (Account Total: <%=
				user.CountAccountTickets() %>)</td></tr>
			<tr><td><%=t("computes")%></td><td><%=
				user.VirtualGuestCount + user.HardwareCount
				%>, Synced: <%= user.CountComputes() %></td></tr>
		</tbody>
	</table>
</div>

<div class="col-md-12">
	API Key: <span class="text-muted"><%= user.APIKey %></span>
</div>

</div>
