<%= f.InputTag("SingleId") %>
<%= f.InputTag("UserId") %>
<%= f.InputTag("AccountId") %>
<%= f.InputTag("SiblingId") %>
<%= f.InputTag("VlanId") %>
<%= f.InputTag("TicketId") %>
<%= f.InputTag("Type") %>
<%= f.InputTag("Location") %>
<%= f.InputTag("LinuNumber") %>
<%= f.InputTag("Port") %>
<%= f.InputTag("Router") %>
<%= f.InputTag("Speed") %>
<%= f.InputTag("RoutingOption") %>
<%= f.InputTag("MultiPath") %>
<%= f.InputTag("Asn") %>
<%= f.InputTag("Prefix") %>
<%= f.InputTag("Migration") %>
<%= f.TextArea("Comments", {rows: 10}) %>
<%= f.InputTag("Signature") %>
<%= f.InputTag("XcrIp") %>
<%= f.InputTag("CerIp") %>
<%= f.InputTag("Status") %>
<%= f.TextArea("Notes", {rows: 10}) %>
<button class="btn btn-success" role="submit">Save</button>
