<%= f.InputTag("SingleID") %>
<%= f.InputTag("UserId") %>
<%= f.InputTag("SiblingID") %>
<%= f.InputTag("VlanId") %>
<%= f.InputTag("TicketId") %>
<%= f.InputTag("Type") %>
<%= f.InputTag("Location") %>
<%= f.InputTag("LineNumber") %>
<%= f.InputTag("Port") %>
<%= f.InputTag("Router") %>
<%= f.InputTag("Speed") %>
<%= f.InputTag("RoutingOption") %>
<%= f.InputTag("MultiPath") %>
<%= f.InputTag("ASN") %>
<%= f.InputTag("Prefix") %>
<%= f.InputTag("Migration") %>
<%= f.TextArea("Comments", {rows: 5}) %>
<%= f.InputTag("Signature") %>
<%= f.InputTag("XCRIP") %>
<%= f.InputTag("CERIP") %>
<%= f.InputTag("Status") %>
<%= f.TextArea("Notes", {rows: 5}) %>
<button class="btn btn-success" role="submit"><%=t("save")%></button>
