<div class="row page-header">
	<h1><%=t("order_direct_link_for")%>: <span class="sing-data"><%=
		order_for %></span></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="<%=t("help.popup.directlink.new")%>"
			data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2"><div class="panel panel-danger">
		<div class="panel-heading"><h3 class="panel-title"><%=t("important")
			%></h3></div>
		<div class="panel-body">
			<p class="text-center">
			<a data-toggle="modal" data-target="#directLinkNotice"
				class="btn btn-warning"><%=t("important_notice")%></a>
			</p>
			<p class="text-warning">
			<%=t("please_read_the_important_notice")%><br/>
			<%=t("direct_link_order_takes_5_working_days")%>
			</p>

			<table class="table table-condensed text-center">
				<thead>
					<tr>
						<td><%=t("location")%></td>
						<td><%=t("account")%> ID</td>
						<td><%=t("user")%> ID</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong><%= dlink.Location %></strong></td>
						<td><strong><%= dlink.AccountId %></strong></td>
						<td><strong><%= dlink.UserId %></strong></td>
					</tr>
				</tbody>
			</table>

			<table class="table table-condensed text-center">
				<thead>
					<tr>
						<td>Link Number</td>
						<td>Router</td>
						<td>VLAN</td>
						<td>ASN</td>
						<td>MultiPath Pair</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= dlink.LineNumber %></td>
						<td><%= dlink.Router %></td>
						<td><%= dlink.VlanId %></td>
						<td><%= dlink.ASN %></td>
						<td><%= plink %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div></div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<%= form_for(dlink, {action: directlinksPath(), method: "POST", errors: errors}) { %>
  <%= partial("direct_links/new.html") %>
	<a href="<%= directlinksPath() %>" class="btn btn-warning" data-confirm="<%=t("sure")%>"><%=t("cancel")%></a>
<% } %>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="directLinkNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-danger" id="myModalLabel"><%=
					t("important_notice") %></h4>
			</div>
			<div class="modal-body">
				<h3><%=t("restrictions_and_limitations")%></h3>
				<%= partial("directlink.restrictions.md") %>
				<h3><%=t("options")%></h3>
				<%= partial("directlink.options.md") %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><%=t("accept")%></button>
			</div>
		</div>
	</div>
</div>
