<div class="row page-header">
	<h1>Direct Link <span class="sing-data"><%= dlink %></span></h1>
	<div class="page-help">
		<a href="#" data-toggle="popover" data-placement="left"
			data-content="
			All users registered by singles are shown here.
			" data-trigger="hover" title=""><i class="fa fa-question-circle"></i></a>
	</div>
</div>

<div class="row">

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Account</th>
			<th>User</th>
			<th>Single</th>
			<th>Location</th>
			<th>Migration</th>
			<th>Status</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= dlink.AccountName() %></td>
			<td><%= dlink.UserName() %></td>
			<td><%= dlink.SingleName() %></td>
			<td><%= dlink.Location %></td>
			<td><%= dlink.Migration %></td>
			<td><%= capitalize(dlink.Status) %></td>
			<td>
				<div class="pull-right">
					<%= if (dlink.Status == "draft") { %><a href="<%= directlinkOrderPath({ directlink_id: dlink.ID }) %>" data-method="PUT" data-confirm="Are you sure?" class="btn btn-xs btn-primary">Order</a><% } %>
					<%= if (dlink.TicketId > 0) { %><a href="<%= ticketPath({ ticket_id: dlink.TicketId }) %>" class="btn btn-xs btn-primary">Ticket</a><% } %>
					<div class="btn-group">
					<a href="<%= editDirectlinkPath({ directlink_id: dlink.ID }) %>" class="btn btn-xs btn-warning">Ed</a>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Configuration</th>
			<th>Router</th>
			<th>Port</th>
			<th>VLAN</th>
			<th>ASN</th>
			<th>XCR Address</th>
			<th>CER Address</th>
			<th>MultiPath</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= dlink %></td>
			<td>XCR<%= dlink.Router %></td>
			<td><%= dlink.Port %></td>
			<td><%= dlink.VlanId %></td>
			<td><%= dlink.ASN %></td>
			<td><%= dlink.XCRIP %>/<%= dlink.Prefix %></td>
			<td><%= dlink.CERIP %>/<%= dlink.Prefix %></td>
			<td><%= if (dlink.MultiPath) { %><a href="<%=
					directlinkPath({ directlink_id: dlink.SiblingID })
					%>">Yes</a><% } else { %>No<% } %></td>
		</tr>
	</tbody>
</table>

</div>

<div class="row">
	<div class="col-md-6">
		<h5>Comments:</h5>
		<div class="well" style="white-space: pre-wrap"><%=
			dlink.Comments %></div>
		<h5>Notes:</h5>
		<div class="well" style="white-space: pre-wrap"><%=
			dlink.Notes %></div>
	</div>
	<div class="col-md-6">
		<h4>Progress</h4>
		<%= for (pr) in progresses { %>
		<div class="progress-item">
			<div class="progress-item-header folder-header">
				<div class="pull-right"><a href="#update-<%=
						pr.UpdateId %>"><i class="fa fa-chevron-down"></i> Update</a></div>
				<%= timeYYMDHM(pr.CreatedAt) %> <strong><%=
					capitalize(pr.Action) %></strong>
			</div>
			<div class="progress-item-note folder-body"><%= pr.Note %>&nbsp;</div>
		</div>
		<% } %>
	</div>
</div>

<div class="row">
	<hr/>
	<h4 class="col-md-12">Associated Ticket Updates</h4>
	<div class="" id="ticket-updates">
	<%= for (update) in updates { %>
		<div id="update-<%= update.ID %>" class="ticket-update well col-md-9 <%= if (update.EditorType == "USER") { %>by-user col-md-offset-2<% } else { %>by-service col-md-offset-1<% } %>">
			<pre><%= update.Entry %></pre>
			<div class="ticket-update-footer <%= if (update.EditorType == "USER") { %>text-right<% } else { %>text-left<% } %>">
				<span><%= iconize(update.EditorType) %></span>
				<span><%= update.EditorName() %></span>,
				<span><%= timeYYMDHM(update.CreateDate) %></span>
			</div>
		</div>
		<%= if (update.EditorType != "USER") { %>
		<div class="col-md-2">
			<span data-toggle="tooltip" data-placement="top"
				title="Add progress step mark with this update"><a data-toggle="modal"
				class="btn btn-xs btn-info setter" value="<%=
				update.ID %>" data-target="#addProgress"><i
				class="fa fa-chevron-circle-up"></i> Add Progress</a></span>
		</div>
		<% } %>
	<% } %>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="addProgress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Update Progress</h4>
			</div>
<%= form_for(dlink, {action: directlinkProceedPath({ directlink_id: dlink.ID }), method: "PUT", errors: errors}) { %>
			<div class="modal-body">
<%= f.InputTag("UpdateId", {disabled: true}) %>
<%= f.SelectTag("Action", {options: statuses, label:"Change status to..."}) %>
<%= f.TextArea("Note", {rows: 2, label:"Internal Note"}) %>
<%= f.TextArea("Reply", {rows: 5, label:"Reply to Provider"}) %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Close</button>
				<button class="btn btn-success" style="width: 120px" role="submit">Add</button>
			</div>
<% } %>
		</div>
	</div>
</div>
